# Gradle / Loom
.gradle/
gradle.properties
**/build/
run/
out/
loom-cache/
.loom/

# IDE
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# Eclipse/Javac outputs
bin/
*.class

# Logs etc.
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Gradle wrapper must stay
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
